@model List<WebApplication2.Models.Reise>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    ////JQ
    $(function(){
        $("#utreiseDato").click(function() {
          //  $("#utreiseDato").css("background-color","blue");
        })

        $(document).ready(function () {
            $("#utreiseDato").datepicker({
                minDate: 0,
                // ...
            });
        });
    });
    ////JavaScript
    function skjul() {
        var x = document.getElementById("HjemReise").style.display = 'none';

    }
    function vis() {
        var x = document.getElementById("HjemReise").style.display = 'block';

    }
    function voksenMinus() {
        var voksne = document.getElementById("voksen").value;
        if (voksne > 1) {
            var sum = parseInt(voksne) - 1;
            document.getElementById("voksen").value = sum;
        }
    }
    function voksenPluss() {
        var voksne = document.getElementById("voksen").value;
        if (voksne < 9) {
            var sum = parseInt(voksne) + 1;
            document.getElementById("voksen").value = sum;
        }

    }
    function barnMinus() {
        var barn = document.getElementById("barn").value;
        if (barn > 0) {
            var sum = parseInt(barn) - 1;
            document.getElementById("barn").value = sum;
        }

    }
    function barnPluss() {
        var barn = document.getElementById("barn").value;
        if (barn < 9) {
            var sum = parseInt(barn) + 1;
            document.getElementById("barn").value = sum;
        }

    }
    function visBarn() {
        var display = document.getElementById("barnDisplay").style;
        display.display = 'block';
        document.getElementById("leggTilBarn").style.visibility = "hidden";

    }
    function sokFlybilletter() {
        document.getElementById("flyReiser").style.display = 'block';


    }

    function datoSjekkUtreise(dato) {

        var date = new Date();
        var idag = new Date(dato);
        idag.setHours(0, 0, 0, 0);

        if (date > idag) {
            alert("Dato ikke gyldig!");
            var dagenIdag = date.toISOString().slice(0, 10).replace(/-/g, "-");
            document.getElementById("utreiseDato").value = dagenIdag;
        }
        idag.setDate(idag.getDate() + 8);
        var dagens = idag.toISOString().slice(0, 10).replace(/-/g, "-");
        document.getElementById("hjemDato").value = dagens;
    }
    function datoSjekkHjemreise(dato) {
        var date = new Date();
        var idag = new Date(dato);
        idag.setHours(0, 0, 0, 0);
        var utreiseDato = document.getElementById("utreiseDato").value;
        var dagens = idag.toISOString().slice(0, 10).replace(/-/g, "-");
        //alert(dagens);

        if (date > idag || dagens < utreiseDato) {
            alert("Dato ikke gyldig!");

        }
        
    }
    function valideringTil(til) {
        var input = document.getElementById("from");
        var val = document.getElementById("valideringFra");
        if (til == "Oslo" || til == "Trondheim" || til == "Bergen" || til == "Stavanger" ) {
            input.style.borderColor = "Green";
            val.style.color = "Green";
            val.innerHTML = "✓";
        }
        else {
            document.getElementById("from").style.borderColor = "Red";

            val.innerHTML = "Vennligst velg en av destinasjonene i listen";
            val.style.color = "Red";
        }

    }
    function valideringFra(fra) {
        var input = document.getElementById("to");
        var val = document.getElementById("valideringTil");
        if (fra == "Oslo" || fra == "Trondheim" || fra == "Bergen" || fra == "Stavanger") {
            input.style.borderColor = "Green";
            val.style.color = "Green";
            val.innerHTML = "✓";
        }
        else {
            document.getElementById("to").style.borderColor = "Red";

            val.innerHTML = "Vennligst velg en av destinasjonene i listen";
            val.style.color = "Red";
        }

    }

</script>
<p2></p2>
<h2>Bestill Flybilletter</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h4 class="control-label col-md-2">Fra</h4>
            <div class="col-md-3">
                <input id="from" type="text" name="fraDest" class="form-control" onchange="valideringTil(this.value)" />   
            </div>
            <h5 id="valideringFra"></h5>
        </div>
        <div class="form-group">
            <h4 class="control-label col-md-2">Til</h4>
            <div class="col-md-3">  
                <input id ="to" type="text" name="fraDest" class="form-control" onchange="valideringFra(this.value)" />
            </div>
            <h5 id="valideringTil"></h5>
        </div>

        @*
            <div class="form-group">
                @Html.LabelFor(model => rute.fra, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => rute.fra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => rute.fra, "", new { @class = "text-danger" })
              </div>

                <div class="form-group">
                @Html.LabelFor(model => rute.til, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => rute.til, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => rute.til, "", new { @class = "text-danger" })
                </div>
        *@
        <div class="form-group">
            <div class="control-label col-md-2">
                <h4>
                    Tur/retur <input type="radio" name="reiseType" checked="checked" onclick="vis()" />
                </h4>
            </div>
            <div class="control-label col-md-2">
                <h4>
                    Enkelreise <input type="radio" name="reiseType" class="" onclick="skjul()" />
                </h4>
            </div>

        </div>

        <div class="form-group">
            <h4 class="control-label col-md-2">Utreise</h4>
            <div class="col-md-10">
                <input id="utreiseDato" type="date" name="utreise" class="form-control" min="2017-10-03"  onchange="datoSjekkUtreise(this.value)" />
            </div>
        </div>

        <div id="HjemReise" class="form-group" style=" display:block">
            <h4 class="control-label col-md-2">Hjemreise</h4>
            <div class="col-md-10">
                <input id="hjemDato" type="date" name="hjemreise" class="form-control" min="2017-10-03" onchange="datoSjekkHjemreise(this.value)" />
            </div>
        </div>

        <div class="form-group">
            <h4 class="control-label col-md-2">
                <Strong>Reisende:</Strong>
            </h4>
        </div>
        <div class="form-group">
            <h4 class="control-label col-md-2">
                Voksen:
            </h4>
            <div class="col-md-2">
                <input id="voksen" type="text" name="Antall" class="form-control" value="1" pattern = "[0-9]{2}" title="Velg mellom 1 og 9 voksne" />
            </div>
            <input type="button" class="btn-danger" onclick="voksenMinus()" value="-" />
            <input type="button" class="btn-success" onclick="voksenPluss()" value="+" />
            <input id="leggTilBarn" type="button" class="btn-warning" onclick="visBarn()" value="Legg til barn" />
        </div>
        <div class="form-group" id="barnDisplay" style="display:none">
            <h4 class="control-label col-md-2">
                Barn(0-13):
            </h4>
            <div class="col-md-2">
                <input id="barn" type="number" name="Antall" class="form-control" value="0" />
            </div>
            <input type="button" class="btn-danger" onclick="barnMinus()" value="-" />
            <input type="button" class="btn-success" onclick="barnPluss()" value="+" />
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Søk billetter" class="btn btn-success" onclick="sokFlybilletter()" />
            </div>
        </div>
    </div>
}
    


<div id="flyReiser" class="container" style="display:none">
    <h2>Velg reise:</h2>
    <div class="table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <th>Fra:</th>
                    <th>Til:</th>
                    <th>Fra dato:</th>
                    <th>Til dato:</th>
                    <th>Antall person:</th>
                    <th>Pris:</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Oslo</td>
                    <td>Bergen</td>
                    <td>10.10.17</td>
                    <td>17.10.17</td>
                    <td>2</td>
                    <td>2000.kr</td>
                    <td><button class="btn-success">Kjøp</button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Oslo</td>
                    <td>Trondheim</td>
                    <td>10.10.17</td>
                    <td>17.10.17</td>
                    <td>2</td>
                    <td>2500.kr</td>
                    <td><button class="btn-success">Kjøp</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        <div>
            @Html.ActionLink("Til Register ", "Registrer")
        </div>
