@model WebApplication2.Models.Reise

@{
    ViewBag.Title = "Index";
}
<script>
    function skjul() {
        var x = document.getElementById("HjemReise").style.display = 'none';

    } 
    function vis() {
        var x = document.getElementById("HjemReise").style.display = 'block';

    } 
    function voksenMinus() {
        var voksne = document.getElementById("voksen").value;
        if (voksne > 0) {
            var sum = parseInt(voksne) - 1;
            document.getElementById("voksen").value = sum;
        }
    }
    function voksenPluss() {
        var voksne = document.getElementById("voksen").value;
        if (voksne < 9) {
            var sum = parseInt(voksne) + 1;
            document.getElementById("voksen").value = sum;
        }

    }
    function barnMinus() {
        var barn = document.getElementById("barn").value;
        if (barn > 0) {
            var sum = parseInt(barn) - 1;
            document.getElementById("barn").value = sum;
        }

    }
    function barnPluss() {
        var barn = document.getElementById("barn").value;
        if (barn < 9) {
            var sum = parseInt(barn) + 1;
            document.getElementById("barn").value = sum;
        }

    }
    function visBarn() {
        var display = document.getElementById("barnDisplay").style;
        display.display = 'block';
        document.getElementById("leggTilBarn").style.visibility = "hidden";

    }
   
    
</script>


<h2>Bestill Flybilletter</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })  

        <div class="form-group">
            <h4 class="control-label col-md-2">Fra</h4>
            <div class="col-md-10">
                <input type="text" name="fraDest" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <h4 class="control-label col-md-2">Til</h4>
            <div class="col-md-4">
                <input type="text" name="fraDest" class="form-control" />
            </div>
        </div>
       
@*
        <div class="form-group">
            @Html.LabelFor(model => rute.fra, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => rute.fra, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => rute.fra, "", new { @class = "text-danger" })
          </div>

            <div class="form-group">
            @Html.LabelFor(model => rute.til, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => rute.til, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => rute.til, "", new { @class = "text-danger" })
            </div>
*@
        <div class="form-group">
            <div class="control-label col-md-2">
                <h4>
                    Tur/retur <input type="radio" name="reiseType" checked="checked" onclick="vis()" />
                </h4>
            </div>  
            <div class="control-label col-md-2">
                <h4>
                    Enkelreise <input type="radio" name="reiseType" class="" onclick="skjul()"/>
                </h4>
            </div>  

        </div>
        
                <div class="form-group">
                    <h4 class="control-label col-md-2">Utreise</h4>
                    <div class="col-md-10">
                        <input type="date" name="utreise" class="form-control" />
                    </div>
                </div>

                <div id="HjemReise" class="form-group" style=" display:block">
                    <h4 class="control-label col-md-2">Hjemreise</h4>
                    <div class="col-md-10">
                        <input type="date" name="hjemreise" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="control-label col-md-2">
                        <Strong>Reisende:</Strong>
                    </h4>
                </div>
        <div class="form-group">
            <h4 class="control-label col-md-2">Voksen:
            </h4>
            <div class="col-md-2">
                <input id="voksen" type="number" name="Antall" class="form-control" value="0" />
            </div>
            <input type="button" class="btn-danger" onclick="voksenMinus()" value="-" />
            <input type="button" class="btn-success" onclick="voksenPluss()" value="+" />
            <input id="leggTilBarn" type="button" class="btn-warning" onclick="visBarn()" value="Legg til barn"/>
        </div>
        <div class="form-group" id="barnDisplay" style="display:none" >
            <h4 class="control-label col-md-2">
                Barn:
            </h4>
            <div class="col-md-2">
                <input id="barn" type="number" name="Antall" class="form-control" value="0" />
            </div>
            <input type="button" class="btn-danger" onclick="barnMinus()" value="-" />
            <input type="button" class="btn-success" onclick="barnPluss()" value="+" />
        </div>
        
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Søk billetter" class="btn btn-success" />
                    </div>
                </div>
            </div>
}

<div>
    @Html.ActionLink("Til Register ", "Registrer")
</div>
