<!-- vi bruker dynamic webview page og ikke modellen her.-->
@model List<WebApplication2.Model.reise>

@{
    ViewBag.Title = "InnLoggetSide";
}

<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>InnLoggetSide</title>
</head>
    <body>
        <div id="flyReiser" class="container">
            <h2>Endre reiser:</h2>
            <div class="table-bordered">
                <form action="/home/Reg" method="post">
                    <table class="table-striped">
                        <thead>
                            <tr>
                                <th width="50">ID</th>
                                <th>Fra</th>
                                <th>Til</th>
                                <th>Utreise</th>
                                <th>Hjemreise</th>
                                <th>Pris</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr> I LOVE TURTORRU
                                    <td>@item.id</td>
                                    <td>@item.utreise</td>
                                    <td>@item.hjemreise</td>
                                    <td>@item.turtid</td>
                                    <td>@item.returtid</td>
                                    <td>@item.billettpris</td>
                                    

                                    <td><a href="/home/SlettReisen?id=@item.id" class="btn btn-danger">Slett</a></td>
                                </tr>
                            }
                            <tr style="height:20px">
                                
                            </tr>
                            <tr>

                                <td><strong></strong><br /></td>
                                <td ><strong>Fra Destinasjon:</strong><br /></td>
                                <td><strong>Til Destinasjon:</strong><br /></td>
                                <td><strong>Utreise Dato:</strong><br /></td>
                                <td><strong>Hjemreise Dato:</strong><br /></td>
                                <td><strong>Pris:</strong><br /></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td><input type="text" name="utreise" class="form-control col-xs-3" /></td>
                                <td><input type="text" name="hjemreise" class="form-control" /></td>
                                <td><input type="date" name="turtid" class="form-control" /></td>
                                <td><input type="date" name="returtid" class="form-control" /></td>
                                <td><input type="number" name="billettpris" class="form-control" /></td>
                                <td><input type="submit" name="reg" value="Legg til" class="btn btn-info" /></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
            <h4>Endre reisen ved hjelp av ID:</h4>
                <form action="/home/EndreReisen" method="post">
                    <table class="table">
                        
                        <tr>
                            <th>Id</th>
                            <th>Fra</th>
                            <th>Til</th>
                            <th>Utreise</th>
                            <th>Hjemreise</th>
                            <th>Pris</th>
                        </tr>
                    <tr>

                        <td><input type="text" name="id" class="form-control" /></td>
                        <td><input type="text" name="utreise" class="form-control" /></td>
                        <td><input type="text" name="hjemreise" class="form-control" /></td>
                        <td><input type="date" name="turtid" class="form-control" /></td>
                        <td><input type="date" name="returtid" class="form-control" /></td>
                        <td><input type="number" name="billettpris" class="form-control" /></td>
                        <td><input type="submit" name="EndreReisen" value="Endre Reisen" class="btn btn-info" /></td>
                    </tr>
                    </table>
                </form>
    </body>
</html>
