<-- vi bruker dynamic webview page og ikke modellen her.-->
@{
    ViewBag.Title = "InnLoggetSide";
}

<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>InnLoggetSide</title>
</head>
    <body>
             <div id="flyReiser" class="container">
                 <h2>Velg reise:</h2>
                 <div class="table-bordered">
                     <table class="table">
                         <thead>
                             <tr>
                                 <th>Fra</th>
                                 <th>Til</th>
                                 <th>Utreise</th>
                                 <th>Hjemreise</th>
                                 <th>Pris</th>

                             </tr>
                         </thead>
                         <tbody>
                            
                             @foreach (var item in Model)
                             {
                             <tr>
                                 <td>@item.utreise</td>
                                 <td>@item.hjemreise</td>
                                 <td>@item.turtid</td>
                                 <td>@item.returtid</td>
                                 <td>@item.billettpris</td>
                                 <td><button id="knapp1" class="btn-success">Kjøp</button></td>
                             </tr>
                             }
                         </tbody>  
                     </table>
                 </div>
             </div>
    </body>
</html>
