<!-- vi bruker dynamic webview page og ikke modellen her.-->
@{
    ViewBag.Title = "InnLoggetSide";
}

<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>InnLoggetSide</title>
</head>
    <body>
             <div id="flyReiser" class="container">
                 <h2>Velg reise:</h2>
                 <div class="table-bordered">
                     <table class="table">
                         <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Fra</th>
                                 <th>Til</th>
                                 <th>Utreise</th>
                                 <th>Hjemreise</th>
                                 <th>Pris</th>

                             </tr>
                         </thead>
                         <tbody>

                             @foreach (var item in Model)
                             {
                                 <tr>
                                     <td>@item.id</td>
                                     <td><input type="text" value="@item.utreise" class="form-control" /></td>
                                     <td><input type="text" value="@item.hjemreise" class="form-control" /></td>
                                     <td><input type="text" value="@item.turtid" class="form-control" /></td>
                                     <td><input type="text" value="@item.returtid" class="form-control" /></td>
                                     <td><input type="text" value="@item.billettpris" class="form-control" /></td>

                                     <td><a href="/Home/endre?id=@item.id" class="btn btn-success">Lagre</a></td>
                                     <td><a href="/home/slett?id=@item.id" class="btn btn-danger">Slett</a></td>    
                                 </tr>
                             }
                             <tr>
                                 <td></td>
                                 <td><input type="text" value="" class="form-control" /></td>
                                 <td><input type="text" value="" class="form-control" /></td>
                                 <td><input type="text" value="" class="form-control" /></td>
                                 <td><input type="text" value="" class="form-control" /></td>
                                 <td><input type="text" value="" class="form-control" /></td>
                                 <td><button name="LeggTil" class="btn-success">Legg Til</button></td>
                             </tr>
                         


                         </tbody>  
                     </table>
                 </div>
             </div>
    </body>
</html>
