
@{
    ViewBag.Title = "InnLoggetSideKunde";
}

<!DOCTYPE html>
<

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InnLoggetSideKunde</title>
</head>
<body>
    <div id="flyKunder" class="container">
        <h2>Velg reise:</h2>
        <div class="table-bordered">
            <form action="/home/RegKunde" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fra</th>
                            <th>Til</th>
                            <th>Utreise</th>
                            <th>Hjemreise</th>
                            <th>Pris</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td><input type="text" value="@item.fornavn" class="form-control" /></td>
                                <td><input type="text" value="@item.etternavn" class="form-control" /></td>
                                <td><input type="text" value="@item.adresse" class="form-control" /></td>
                                <td><input type="text" value="@item.telefon" class="form-control" /></td>                                

                                <td><a href="/home/SlettKunden?id=@item.id" class="btn btn-danger">Slett</a></td>
                            </tr>
                        }

                        <tr>
                            <td></td>
                            <td><input type="text" name="fornavn" class="form-control" /></td>
                            <td><input type="text" name="etternavn" class="form-control" /></td>
                            <td><input type="text" name="adresse" class="form-control" /></td>
                            <td><input type="number" name="telefon" class="form-control" /></td>
                       
                            <td><input type="submit" name="regKunde" value="Legg til" class="btn btn-info" /></td>
                        </tr>

                    </tbody>
                </table>
            </form>
            <form action="/home/EndreKunden" method="post">
                <table class="table">
                    <tr>
                        <td><input type="text" name="id" class="form-control" /></td>
                        <td><input type="text" name="fornavn" class="form-control" /></td>
                        <td><input type="text" name="etternavn" class="form-control" /></td>
                        <td><input type="text" name="adresse" class="form-control" /></td>
                        <td><input type="number" name="telefon" class="form-control" /></td>
                      
                        <td><input type="submit" name="EndreKunden" value="endre Kunden" class="btn btn-info" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
