@model WebApplication2.Models.kunde

@{
    ViewBag.Title = "Registrer";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script type="text/javascript">
   

    // bygg et js objekt fra input feltene
    $("#registrer").click(function () {
        var jsInn = {
            fornavn: $("#Fornavn").val(),
            etternavn: $("#Etternavn").val(),
            postnr: $("#epost").val(),
            poststed: $("#telefon").val()
        }
        $.ajax({
            url: '/home/Lagrekunde',
            type: 'POST',
            data: JSON.stringify(jsInn),
            contentType: "application/json;charset=utf-8",
            success: function (ok) {
                // kunne ha feilhåndtert evt. feil i registreringen her
                window.location.reload();
                // reload av vinduet må skje her altså etter at kallet har returnert
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });</script>
<div class="jumbotron">
    <h2>Cryanair booking</h2>
    <p class="lead">Våre fly har kun first class. Litt dyrere, for reisens skyld</p>
    </div>


@using (Html.BeginForm(/* denne fungerer ikke "lagreKunde", "Home"*/))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reisende (Kontaktperson)</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fornavn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" >
                @Html.EditorFor(model => model.fornavn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fornavn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.etternavn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.etternavn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.etternavn, "", new { @class = "text-danger" })
            </div>
        </div>

      
      


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gå Videre" name="registrer"class="btn btn-success"  />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbake til fly reservasjon", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

